<div class="flex flex-col items-center p-5 rounded-md bg-white">
  <div class="flex justify-between w-[200px]">
    <p>{{ title }}</p>
    :
  </div>
  <div class="grid place-items-center">
    <svg width="200" height="200" class="-rotate-90">
      <circle
        stroke="#F5F5F5"
        stroke-width="5"
        fill="transparent"
        r="20%"
        cx="50%"
        cy="50%"
      />
      <circle
        class="green"
        stroke-linecap="round"
        stroke="#408A7E"
        stroke-width="5"
        stroke-dasharray="252"
        stroke-dashoffset="122"
        fill="transparent"
        r="20%"
        cx="50%"
        cy="50%"
      />
      <text class="rotate-90" x="45%" y="-45%">{{ number }}</text>
    </svg>
  </div>
</div>
