<svg
  width="30"
  height="30"
  viewBox="0 0 30 30"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_387_7576)">
    <path
      d="M21 9L9 21M9 9L21 21"
      [attr.stroke]="isActive?'#40897D':'grey'"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
  <circle cx="15" cy="15" r="14" [attr.stroke]="isActive?'#40897D':'grey'" stroke-width="2" />
  <defs>
    <clipPath id="clip0_387_7576">
      <rect width="14" height="14" fill="white" transform="translate(8 8)" />
    </clipPath>
  </defs>
</svg>
