<div class="px-8 overflow-y-scroll max-h-[85vh]">
  <div class="flex gap-6 my-8">
    <h2 class="font-bold">Overview</h2>
    <select class="rounded-md" name="Overview" id="">
      <option value="7d">Last 7 days</option>
      <option value="1w">Last 1 week</option>
      <option value="2w">Last 2 weeks</option>
    </select>
  </div>

  @if (overview$ | async; as overview) {
  <div class="grid grid-cols-5">
    <app-home-tile title="Total Campaign" [count]="overview.totalCampaigns" />
    <app-home-tile
      title="Successful Campaign"
      [count]="overview.successfulCampaign"
    />
    <app-home-tile title="Pending" [count]="overview.pending" />
    <app-home-tile title="Failed" [count]="overview.failed" />
  </div>
  }
  <div class="p-6 grid grid-cols-2 gap-6">
    <div class="flex flex-col gap-4">
      <h3 class="font-bold">Total conversations</h3>
      <div class="rounded-md overflow-clip shadow-md">
       
        <app-column-chart title="Total conversation" [data]="chart()" />
        
      </div>
    </div>
    <div class="col-span-1 max-w-[650px]">
      <app-operator-table title="Operators list" />
    </div>
  </div>
  <app-home-table title="Top conversations" />
</div>
